<agm-map [latitude]="lat" [longitude]="lng"
         [styles]="options" [zoom]="zoom" [usePanning]="true"
         [streetViewControl]="false" [zoomControl]="false">
  <agm-marker *ngFor="let bar of bars" [latitude]="bar.lat"
              [longitude]="bar.lng" [iconUrl]="iconPath"
              (markerClick)="handleMarkerClick(bar)">
    <agm-snazzy-info-window [maxWidth]="200" [closeWhenOthersOpen]="true"
                            [backgroundColor]="backgroundColor" [border]="border"
                            [fontColor]="fontColor" [isOpen]="bar.snazzyStatus || false" [openOnMarkerClick]="false">
      <ng-template>
        <h3>{{ bar.title }}</h3>
        <hr>
        <button class="more-details" (click)="openModal(bar)">More Details</button>
      </ng-template>
    </agm-snazzy-info-window>
  </agm-marker>
  <agm-marker [latitude]="myLat" [longitude]="myLng"></agm-marker>
</agm-map>
