$side-width: 300px;

.page-wrapper {
  display: flex;
  flex-direction: column;
}
.main-window {
  flex: 1;
  display: flex;
  background: #505050;
}

.map-container {
  flex: 1;
  margin-right: $side-width;
  height: 100vh;
}

.search-area {
  background: #505050;
  position: fixed;
  right: 0;
  width: $side-width;
  height: 100vh;
  transition: transform 0.3s ease-out;
}

@media only screen and (max-width: 500px) {
  .search-area {
    transform: translateX(540px);
    //position: absolute;
    &.isVisible {
      transform: translateX(0);
      background: rgba(80, 80, 80, 0.8);
      width: 100%;
      //position: fixed;
    }
  }
  .map-container{
    margin-right: 0;
  }
  .main-window {
    width: 100%;
  }
}
