@import '../../styles/_z-index.scss';

.navigation {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0 15px;
  height: 50px;
  position: absolute;
  width: 100vw;
  box-sizing: border-box;
  z-index: $z-navigation;
}

.user {
  cursor: pointer;
}

.search {
  cursor: pointer;
  margin-right: 10px;
}