@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body {
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
}

//PrimeNG overrides
.ui-progressbar {
  border: none;
  .ui-progressbar-value {
    border: none;
  }
}
.girls-to-boys {
  .ui-progressbar{
    .ui-progressbar-value {
      background: mediumpurple;
    }
  }
}

.crowd {
  .ui-progressbar{
    .ui-progressbar-value {
      background: orange;
    }
  }
}

.atmosphere {
  .ui-progressbar{
    .ui-progressbar-value {
      background: lawngreen;
    }
  }
}

/** General Dialog Overrides */
.ui-dialog-titlebar {
  background: #4a8fbc;
  color: #ffffff;
  padding: 5px;
  text-align: center;
  font-size: 1em;
}
.ui-dialog{
  background: #3f3f41;
  .ui-dialog-content {
    color: #fff;
  }
  .mark-v {
    background: #4a8fbc;
    color: #fff;
    width: 100%;
    border: none;
    height: 3em;
    margin-top: 10px;;
  }
}

// overrides
button {
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}
